{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 350px;') }}
{% endblock %}

{% block body %}
{{ dropzone.load_js() }}
  {{ super() }}
{% endblock %}

{% block add_navbar %}
<li class="nav-item active">
  <a class="nav-link" data-toggle="tooltip" title="Return to Drones" href="{{ url_for('drones.index') }}"><i class="fas fa-plane"></i> Drones</a>
</li>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="row justify-content-between">
        <div class="col-auto mx-auto text-center">
          <h1>Upload images with a checkerboard</h1>
        </div>
      </div>
      {{ dropzone.create(action=url_for('drones.add_calibration', drone=drone)) }}
      {{ dropzone.config() }}
      <div class="row justify-content-end">
        <div class="col">
          <button type="button" class="btn btn-primary float-right" id="calibrate_btn" onclick="calibrate()"><i class="fas fa-camera"></i> Calibrate Camera</button>
        </div>
      </div>
    </div>
    <div class="container flashed-messages">
      <div class="row">
        <div id="flash" class="col-md-12">
        </div>
      </div>
    </div>
{%- endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
var flashMessage = function(data){
  html = '';
  for (i=0; i<data.length; i++) {
    html += '<div class="alert alert-' + data[i]['type'] + ' alert-dismissible", role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data[i].message + '</div>';
  }
  return html;
};
function calibrate() {
  $('#calibrate_btn').prop('disabled', true);
  $('#calibrate_btn').html('<i class="fas fa-spinner fa-spin"></i> Calibrating');
  $.post('{{ url_for("drones.do_calibration", drone=drone) }}', {
  }, function(data) {
    if (data == 'true') {
      window.location.href = '{{ url_for("drones.index") }}';
    }
    else {
      $('#flash').append(flashMessage(JSON.parse(data)));
      $('#calibrate_btn').prop('disabled', false);
      $('#calibrate_btn').html('Calibrate');
    }
  });
};
</script>
{% endblock %}
