{% extends 'base.html' %}

{% block add_navbar %}
<li class="nav-item active">
  <a class="nav-link" href="#" data-toggle="modal" data-target="#create_new_drone_modal"><i class="fas fa-plus"></i> Add Drone</a>
</li>
{% endblock %}
{% block navbar_end %}
<form class="form-inline mt-2 mt-md-0">
  <input id="filter_drones" class="form-control" type="text" placeholder="Search" aria-label="Search">
</form>
{% endblock %}

{% block content %}
{% include 'drones/new_drone_modal.html' %}
{% include 'drones/edit_drone_modal.html' %}
{% include 'drones/remove_drone_modal.html' %}
<div class="card-columns">
  {% for drone in drones.values() %}
  <div class="collapse show">
    <div class="card border-dark mb-3">
      <div class="card-header">
          <h5 class="card-title">{{ drone.title }}</h5>
      </div>
      <div class="card-body text-right">
        <p class="card-text text-left">{{ drone.camera_settings }}</p>
        {% if drone.calibrated %}
        <a class="btn btn-primary" href="{{ url_for('drones.view_calibration', drone=drone.title) }}"><i class="fas fa-check-square"></i> Camera Calibrated</a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_for('drones.add_calibration', drone=drone.title) }}"><i class="fas fa-camera"></i> Camera Calibration</a>
        {% endif %}
        <div class="btn-group">
          <a class="btn btn-primary" data-toggle="modal" data-target="#edit_drone_modal" data-drone="{{ drone.title }}" data-camera_settings="{{ drone.camera_settings }}" href="#"><i class="far fa-edit"></i> Edit</a>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('drones.add_calibration', drone=drone.title) }}"><i class="fas fa-camera"></i> Add Camera Calibration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#remove_drone_modal" data-drone="{{ drone.title }}" data-link="{{ url_for('drones.remove_drone', drone=drone.title) }}" href="#"><i class="far fa-trash-alt"></i>Remove</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <p class="card-text"><small>{{ drone.last_updated }}</small></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $('#remove_drone_modal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var drone = button.data('drone') // Extract info from data-* attributes
    var link = button.data('link')
    var modal = $(this)
    modal.find('.modal-title').text('Delete ' + drone)
    modal.find('.modal-body p').text('You are about to delete ' + drone + '. are you sure?')
    modal.find('.modal-footer a').attr('href', link)
  });
  $('#edit_drone_modal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var drone = button.data('drone') // Extract info from data-* attributes
    var camera_settings = button.data('camera_settings')
    var modal = $(this)
    modal.find('.modal-title').text('Edit ' + drone)
    $('#edit_name').attr('value', drone)
    $('#edit_camera_settings').text(camera_settings)
    $('#edit_drone_before').attr('value', drone)
  });
  $('#filter_drones').on('input', function(event) {
    var input = $(this)
    var text = input.val()
    var regex = RegExp(text)
    $('.card').each(function() {
      drone = $(this).find('.card-title').text()
      if (regex.test(drone)) {
        $(this).parent().collapse('show')
      } else {
        $(this).parent().collapse('hide')
      }
    })
  });
  $(document).keypress(function(event) {
    if (event.key == 'Enter') {
      if (event.target = $('#filter_drones')) {
        return false;
      }
    }
  });
</script>
{% endblock %}
