default_stages: [pre-commit, pre-push]
default_install_hook_types: [pre-commit, pre-push]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
        name: Validate Python
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-toml
        name: Validate pyproject.toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        name: ruff lint
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: ruff-format
        types: [python]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        files: ^.*\.(py|md|rst)$
        additional_dependencies:
          - tomli
