Flask
Flask_Dropzone
Flask_Obscure
Flask_WTF
flask-sqlalchemy
flask-migrate
flask-script
WTForms
Werkzeug
SQLAlchemy
numpy
jinja2
celery[redis]
utm
ffmpeg-python
bokeh
opencv-python
scikit-learn
gunicorn
gevent
icecream
psycopg2-binary
redis
