Flask==2.3.2
Flask_Dropzone==1.6.0
Flask_Obscure==1.0
Flask_WTF==1.1.1
WTForms==3.0.1
numpy==1.24.3
jinja2==3.1.2
itsdangerous==2.1.2
ffmpeg-python==0.2.0
Werkzeug==3.0.1
utm==0.7.0
opencv-python==4.7.0.72
scikit-learn==1.2.2
bokeh==3.1.1
gunicorn==20.1.0
gevent==22.10.2
celery==5.3.1
redis==4.5.5
SQLAlchemy==2.0.16
flask-sqlalchemy==3.0.3
flask-migrate==4.0.4
Flask-Script==2.0.6
psycopg2==2.9.6
icecream
