Flask==1.1.2
Flask_Dropzone==1.5.3
Flask_Obscure==1.0
Flask_WTF==0.14.2
WTForms==2.2.1
numpy==1.15.4
ffmpeg-python==0.1.17
Werkzeug==0.16.0
utm==0.4.2
opencv-python==4.1.2.30
scikit-learn==0.22
bokeh==1.0.2
gunicorn==19.9.0
gevent==1.4.0
celery==5.0.5
redis==3.4.1
flask-sqlalchemy==2.4.1
flask-migrate==2.5.2
Flask-Script==2.0.6
psycopg2==2.8.4
