<div class="modal" id="concat_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New video Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="line_width_form">
          <div class="form-group">
            <label for="concat_input" class="col-form-label">Video name:</label>
            <input type="text" class="form-control" id="concat_input" value="output.mp4">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="spin" onclick="concat()">Concatenate</button>
      </div>
    </div>
  </div>
</div>
