{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
<script type="text/javascript">
  Bokeh.set_log_level("info");
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block navbar %}
<!--remove navbar -->
{% endblock %}

{% block before_content %}
<!-- remove container -->
{% endblock %}

{% block content %}
{% include 'videos/video_controls.html' %}
{% include 'videos/optionsModal.html' %}
{% include 'videos/line_width_modal.html' %}
{% include 'videos/new_name_modal.html' %}

<video id="video" muted="" class="canvas-img" width={{ video_width }} height={{ video_height }} preload="auto" style="display: none">
  <source src="{{ url_for('projects_folder', filename = project + '/' + video) }}" type="video/mp4">
</video>

<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {{utils.flashed_messages(messages, dismissible=True)}}
    {% endif %}
  {% endwith %}
  <div class="row justify-content-center">
    <div class="col-10">
      <div id="openseadragon" class="openseadragon mx-auto"></div>
    </div>
    <div class="col-2">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group my-1 mr-2" role="group" aria-label="group">
          <button type="button" class="btn btn-secondary" id="new-name" onclick="on_new_name()"><i class="fas fa-plus"></i></button>
          <button type="button" class="btn btn-secondary" id="jump-to-frame" onclick="jump_to_frame()"><i class="fas fa-level-down-alt"></i></button>
        </div>
      </div>
      <div id="tree" class="tree"></div>
    </div>
  </div>
  <div class="collapse">
    <div class="row justify-content-center">
      <div class="col-10">
        {{ plot_div | safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block after_content %}
<!-- remove container -->
{% endblock %}

{% block scripts %}
{{ super() }}
{{ plot_script | safe }}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap_tree/bootstrap-treeview.min.js') }}"></script>
<script src={{ url_for( 'static', filename='openseadragon/openseadragon.min.js' ) }}></script>
<script src={{ url_for( 'static', filename='openseadragon-fabricjs-overlay.js' ) }}></script>
<script src={{ url_for( 'static', filename='fabric/fabric.adapted.js' ) }}></script>
<script src={{ url_for( 'static', filename='VideoFrame.min.js' ) }}></script>
<script src={{ url_for( 'static', filename='video_annotater.js' ) }}></script>
<script type="text/javascript">
  var VideoAnnotater = new video_annotater("{{ url_for('static', filename='background.jpg') }}", "toolbar", {{ video_width }}, {{ video_height }}, {{ fps }}, {{ num_frames }});
  if ("{{ json_data }}" != "None") {
    VideoAnnotater.load('{{ json_data | tojson | safe }}');
  };
  $(function() {
    $('#colorpicker').colorpicker().on('colorpickerChange', function(event) {
      VideoAnnotater.on_color_change(event);
    });
  });
  $(function() {
    $('#colorpicker_default').colorpicker({
      format: 'auto'
    }).on('colorpickerChange', function(event) {
      VideoAnnotater.on_default_color_change(event);
    });
  });
  $(document).keypress(function(e) {
    if ($("#line_width_modal").hasClass('show') && (e.key == 'Enter')) {
      VideoAnnotater.on_line_width_done();
    }
  });
  $("#line_width_form").submit(function() {
    VideoAnnotater.on_line_width_done();
    $('#line_width_modal').modal('toggle')
    return false;
  });
  $('#video_seek').click(function(e) {
    VideoAnnotater.video.seekTo({
      frame: (e.offsetX / this.offsetWidth) * {{ num_frames }}
    });
  });
  function jump_to_frame() {
    if (VideoAnnotater.jump_frame != null) {
      VideoAnnotater.video.seekTo({frame: VideoAnnotater.jump_frame});
    };
  };

  fabric.util.requestAnimFrame(function render() {
    VideoAnnotater.on_new_frame()
    fabric.util.requestAnimFrame(render);
  });
  function on_show_hide_plot() {
    if ($(".collapse").hasClass("show") == true) {
      $(".collapse").collapse('hide')
    }
    else {
      $(".collapse").collapse('show')
    }
  };
  function on_selection(event, node) {
    var parent = $('#tree').treeview('getNode', node.parentId);
    if (parent.nodes != null) {
      var name = parent.text;
      var re = /Frame: (\d+)/;
      var frame = parseInt(node.text.match(re)[1]);
      VideoAnnotater.jump_frame = frame;
    } else {
      var name = node.text;
      VideoAnnotater.jump_frame = null;
    }
    VideoAnnotater.set_current_name(name);
  };
  function on_new_name() {
    $('#new_name_modal').modal('toggle');
  };
  function on_new_name_done() {
    var name = $('#new_name_input').val();
    add_name(name);
    $('#new_name_modal').modal('toggle');
  };
  function add_name(name) {
    $.post($SCRIPT_ROOT + '/add_marking', {
      add_name: true,
      name: name,
    }, function(data) {
      $('#tree').treeview({
        data: data,
        collapseIcon: 'fas fa-minus',
        expandIcon: 'fas fa-plus',
        levels: 1,
        onNodeSelected: function(event, node) {on_selection(event, node)},
      });
      var node = $('#tree').treeview('search', [ name, {
        ignoreCase: false,
        exactMatch: true,
        revealResults: false,
      }]);
      $('#tree').treeview('selectNode', [ node, { silent: true } ]);
      $('#tree').treeview('clearSearch');
    }, 'json');
  };
  function markings_modified(fabric_json) {
    $.post($SCRIPT_ROOT + '/add_marking', {
      add_name: false,
      fabric_json: fabric_json,
    }, function(data) {
      $('#tree').treeview({
        data: data,
        collapseIcon: 'fas fa-minus',
        expandIcon: 'fas fa-plus',
        levels: 1,
        onNodeSelected: function(event, node) {on_selection(event, node)},
      });
      var node = $('#tree').treeview('search', [ VideoAnnotater.current_name, {
        ignoreCase: false,
        exactMatch: true,
        revealResults: false,
      }]);
      $('#tree').treeview('selectNode', [ node, { silent: true } ]);
      $('#tree').treeview('expandNode', [ node, { levels: 2, silent: true } ]);
      $('#tree').treeview('clearSearch');
    }, 'json');
  };
  markings_modified(JSON.stringify(VideoAnnotater.overlay.fabricCanvas()));
</script>
{% endblock %}
