<!-- Modal -->
<div class="modal fade" id="edit_project_modal" tabindex="-1" role="dialog" aria-labelledby="edit_project_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" method="post" role="form" enctype="multipart/form-data">
        <div class="modal-body">
            {{ edit_project_form.hidden_tag() }}
            {{ wtf.form_field(edit_project_form.edit_name) }}
            {{ wtf.form_field(edit_project_form.edit_description) }}
            {{ wtf.form_field(edit_project_form.edit_drone) }}
            {{ wtf.form_field(edit_project_form.edit_log_file) }}
            <div class="form-group">
              {{ edit_project_form.edit_fixed_cam_checkbox(onclick="on_edit_fixed_cam_checkbox()") }}
              {{ edit_project_form.edit_fixed_cam_checkbox.label }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_height.label }}
              {{ edit_project_form.edit_fixed_cam_drone_height(class_="form-control") }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_lat.label }}
              {{ edit_project_form.edit_fixed_cam_drone_lat(class_="form-control") }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_lon.label }}
              {{ edit_project_form.edit_fixed_cam_drone_lon(class_="form-control") }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_yaw.label }}
              {{ edit_project_form.edit_fixed_cam_drone_yaw(class_="form-control") }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_pitch.label }}
              {{ edit_project_form.edit_fixed_cam_drone_pitch(class_="form-control") }}
            </div>
            <div class="form-group edit_fixed_cam_forms" style="display: none;">
              {{ edit_project_form.edit_fixed_cam_drone_roll.label }}
              {{ edit_project_form.edit_fixed_cam_drone_roll(class_="form-control") }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{ wtf.form_field(edit_project_form.edit_submit, button_map={'submit': 'primary'}) }}
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Model end -->
