<div class="modal" id="video_start_time_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video Start Time</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="line_width_form">
          <div class="form-group">
            <label for="video_start_time_input" class="col-form-label">Video start time (hh:mm:ss.ffffff):</label>
            <input type="text" class="form-control" id="video_start_time_input">
            <p>Enter timestamp in the format hh:mm:ss.ffffff to set video start time.</p>
            <p>Enter 0 to set video start time to the start of the logfile.</p>
            <p>Enter 1 to match video with logfile automatically.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="on_save_start_time()">Save changes</button>
      </div>
    </div>
  </div>
</div>
