      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm my-1" role="group" aria-label="group4">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Get the previous frame" id="previous_frame" onclick="VideoAnnotator.previous_frame()"><i class="fas fa-step-backward"></i></button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Play/Pause the video" id="play_pause" onclick="VideoAnnotator.play_pause()"><i class="fas fa-play"></i></button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Get the next frame" id="next_frame" onclick="VideoAnnotator.next_frame()"><i class="fas fa-step-forward"></i></button>
          <input type="text" class="form-control" id="video_time_stamp" style="text-align:right;"></input>
        </div>
        <div class="btn-group btn-group-sm my-1 ml-1 flex-grow-1" role="group" aria-label="group1">
          <div class="progress h-100 bg-secondary flex-grow-1" id="video_seek">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
