{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('node_modules', filename='jstree-bootstrap-theme/dist/themes/proton/style.min.css') }}" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='mousetrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('node_modules', filename='@bokeh/bokehjs/build/js/bokeh.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('node_modules', filename='papaparse/papaparse.min.js') }}"></script>
<style>
li.jstree-node > ul.jstree-children > li.jstree-node > i.jstree-ocl {
  width: 0px !important;
}
</style>
<script type="text/javascript">
  Bokeh.set_log_level("info");
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block body_attribs %}
style="margin-bottom: 0px; height: 100vh;"
{% endblock body_attribs %}

{% block navbar_end %}
<div class="btn-group ml-4" role="group" aria-label="First group">
  <button class="btn btn-outline-secondary" type="button" onclick="on_page_zoom_out()"> <i class="fa fa-search-minus" aria-hidden="true"></i>
</button>
  <button class="btn btn-outline-secondary" type="button" onclick="on_page_zoom_reset()"> <i class="fa fa-window-restore" aria-hidden="true"></i>

</button>
  <button class="btn btn-outline-secondary" type="button" onclick="on_page_zoom_in()"> <i class="fa fa-search-plus" aria-hidden="true"></i>
</button>
</div>
{% endblock %}

{% block before_content %}
<div class="container-fluid h-100" style="padding-bottom: 60px;">
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {{utils.flashed_messages(messages, dismissible=True)}}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block content %}
{% include 'videos/optionsModal.html' %}
{% include 'videos/line_width_modal.html' %}
{% include 'videos/new_name_modal.html' %}
{% include 'videos/clear_markings_modal.html' %}
{% include 'videos/change_video_start_time_modal.html' %}
{% include 'videos/change_takeoff_altitude_modal.html' %}
{% include 'videos/upload_annotations_from_csv_file.html' %}

<video id="video" muted="" class="canvas-img" width={{ video_width }} height={{ video_height }} preload="auto" style="display: none">
  <source src="{{ url_for('data', filename = video.file.split('/')[-1]) }}" type="video/mp4">
</video>

  <div class="row pt-1 h-100">
    <div class="video-toolbar ml-3">
      {% include 'videos/toolbar.html' %}
    </div>
    <div class="col-9 pb-2">
      <div class="d-flex flex-column h-100">
        <div id="openseadragon" class="openseadragon flex-grow-1"></div>
        {% include 'videos/video_controls.html' %}
      </div>
    </div>
    <div class="col-2 d-flex flex-column px-0">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm mb-1" role="group" aria-label="group">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Add a new name for the annotations" id="new-name" onclick="on_new_name()"><i class="fas fa-plus"></i></button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Jump in the video to the frame of the selected annotation" vid="jump-to-frame" onclick="jump_to_frame()"><i class="fas fa-level-down-alt"></i></button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Jump N frames back in the video [a]" vid="jump-to-frame" onclick="jump_to_frame_50_frames_back()"><i class="fas fa-backward"></i></button>
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Jump N frames ahead in the video [d]" vid="jump-to-frame" onclick="jump_to_frame_50_frames_ahead()"><i class="fas fa-forward"></i></button>
          <input type="text" class="form-control" id="frames_to_jump" value="50" title="Number of frames to jump">
        </div>
      </div>
      <div id="tree" class="tree flex-grow-1" style="height: 600px;">
      </div>
    </div>
  </div>
{% endblock %}

{% block after_content %}
{{ super() }}
<div class="container-fluid collapse show" style="max-width: 700px;">
  <div class="plot d-flex justify-content-center">
    {{ plot_div | safe }}
  </div>
</div>
{% endblock after_content %}

{% block scripts %}
{{ super() }}
{{ plot_script | safe }}
<script type="text/javascript" src="{{ url_for('node_modules', filename='jstree-bootstrap-theme/dist/jstree.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('node_modules', filename='openseadragon/build/openseadragon/openseadragon.min.js')}}"></script>
<script src={{ url_for( 'static', filename='openseadragon-fabricjs-overlay.js' ) }}></script>
<script src={{ url_for( 'static', filename='fabric.adapted.js' ) }}></script>
<script src={{ url_for( 'static', filename='VideoFrame.min.js' ) }}></script>
<script src={{ url_for( 'static', filename='video_annotator.js' ) }}></script>
<script type="text/javascript">
var page_zoom = 1.0;
function on_page_zoom_out() {
  page_zoom = page_zoom - 0.1;
  if (page_zoom < 0.5) {
    page_zoom = 0.5;
  }
  set_page_zoom();
};
function on_page_zoom_in() {
  page_zoom = page_zoom + 0.1;
  if (page_zoom > 1.5) {
    page_zoom = 1.5;
  }
  set_page_zoom();
};
function on_page_zoom_reset() {
  page_zoom = 1;
  set_page_zoom();
};
function set_page_zoom() {
  document.body.style.zoom = page_zoom
};
</script>
<script type="text/javascript">
  var VideoAnnotator = new video_annotator("{{ url_for('static', filename='background.jpg') }}", "toolbar", {{ video_width }}, {{ video_height }}, {{ fps }}, {{ num_frames }});
  if ("{{ json_data }}" != "None") {
    VideoAnnotator.load('{{ json_data | tojson | safe }}');
  };
  Mousetrap.bind('space', function(e) {
    VideoAnnotator.play_pause();
  });
  Mousetrap.bind('n', function(e) {
    VideoAnnotator.next_frame();
  });
  Mousetrap.bind('p', function(e) {
    VideoAnnotator.previous_frame();
  });
  Mousetrap.bind('t', function(e) {
    VideoAnnotator.toggle_draw();
    $('#draw-mode').button('toggle')
  });
  VideoAnnotator.viewer.addHandler("canvas-key", function(e) {
    if(e.originalEvent.code == "KeyA")
    {
      jump_to_frame_50_frames_back();
    }
    if(e.originalEvent.code == "KeyD")
    {
      jump_to_frame_50_frames_ahead();
    }
    }
  );
  Mousetrap.bind('a', function(e) {
    jump_to_frame_50_frames_back();
  });
  Mousetrap.bind('d', function(e) {
    jump_to_frame_50_frames_ahead();
  });
  Mousetrap.bind('ctrl+z', function(e) {
    VideoAnnotator.on_undo();
  });
  Mousetrap.bind('ctrl+shift+z', function(e) {
    VideoAnnotator.on_redo();
  });
  Mousetrap.bind('ctrl+g', function(e) {
    VideoAnnotator.save('{{ url_for('videos.save_fabric_json', video_id=video.id) }}');
  });
  $(function() {
    $('#colorpicker').colorpicker();
    $('#colorpicker').on('colorpickerChange', function(event) {
      VideoAnnotator.on_color_change(event);
    });
  });
  $(function() {
    $('#colorpicker_default').colorpicker({
      format: 'auto'
    });
    $('#colorpicker_default').on('colorpickerChange', function(event) {
      VideoAnnotator.on_default_color_change(event);
    });
  });
  $(document).keypress(function(e) {
    if ($("#line_width_modal").hasClass('show') && (e.key == 'Enter')) {
      VideoAnnotator.on_line_width_done();
    }
  });
  $("#line_width_form").submit(function() {
    VideoAnnotator.on_line_width_done();
    $('#line_width_modal').modal('toggle')
    return false;
  });
  $('#video_time_stamp').change(function(e) {
    var timestamp_string = $('#video_time_stamp')[0].value;
    VideoAnnotator.video.seekTo({
      milliseconds: Number(timestamp_string) * 1000
    });
  });
  $('#video_seek').click(function(e) {
    VideoAnnotator.video.seekTo({
      frame: (e.offsetX / this.offsetWidth) * {{ num_frames }}
    });
  });
  function jump_to_frame() {
    if (VideoAnnotator.jump_frame != 'null') {
      if (VideoAnnotator.jump_frame == 0) {
        VideoAnnotator.video.seekTo({frame: 1});
        VideoAnnotator.video.seekBackward(1);
      } else {
      var target_frame = VideoAnnotator.jump_frame;
      console.log("Jumping to frame: " + target_frame);
      VideoAnnotator.video.seekTo({frame: target_frame});
      };
    };
  };
  function jump_to_frame_50_frames_back() {
    if (VideoAnnotator.jump_frame != 'null') {
      var number_of_frames_to_jump = Number(document.getElementById('frames_to_jump').value);
      var target_frame = VideoAnnotator.video.get() - number_of_frames_to_jump;
      target_frame = Math.max(1, target_frame);
      console.log("Jumping to frame: " + target_frame);
      VideoAnnotator.video.seekTo({frame: target_frame});
    };
  };
  function jump_to_frame_50_frames_ahead() {
    if (VideoAnnotator.jump_frame != 'null') {
      var number_of_frames_to_jump = Number(document.getElementById('frames_to_jump').value);
      var target_frame = VideoAnnotator.video.get() + number_of_frames_to_jump;
      target_frame = Math.min(VideoAnnotator.num_frames, target_frame);
      console.log("Jumping to frame: " + target_frame);
      VideoAnnotator.video.seekTo({frame: target_frame});
    };
  };

  fabric.util.requestAnimFrame(function render() {
    VideoAnnotator.on_new_frame()
    fabric.util.requestAnimFrame(render);
  });
  function on_show_hide_plot() {
    if ($(".collapse").hasClass("show") == true) {
      $(".collapse").collapse('hide')
    }
    else {
      $(".collapse").collapse('show')
    }
  };
  on_show_hide_plot();
  function on_video_start_time() {
    $('#video_start_time_modal').modal('toggle');
    $('#video_start_time_input').val('{{ video_start_time.time() }}');
  };
  function on_save_start_time() {
    var start_time = $('#video_start_time_input').val();
    $.post('{{ url_for('videos.save_start_time', video_id=video.id) }}', {
      new_start_time: start_time,
    }, function(data) {
      window.location.href = '{{ url_for('videos.video', video_id=video.id) }}'
    });
  };
  function on_takeoff_altitude() {
    $('#change_takeoff_altitude_modal').modal('toggle');
    $('#takeoff_altitude_input').val('{{ takeoff_altitude }}');
  };
  function on_save_takeoff_altitude() {
    var takeoff_altitude = $('#takeoff_altitude_input').val();
    $.post('{{ url_for('videos.save_takeoff_altitude', video_id=video.id) }}', {
      new_takeoff_altitude: takeoff_altitude,
    }, function(data) {
      window.location.href = '{{ url_for('videos.video', video_id=video.id) }}'
    });
  };
  function on_upload_annotations_from_csv_file() {
    $('#upload_annotations_from_csv_file_modal').modal('toggle');
  };
  function on_new_name() {
    $('#new_name_modal').modal('toggle');
  };
  function on_new_name_done() {
    var name = $('#new_name_input').val();
    add_name(name);
    $('#new_name_modal').modal('toggle');
  };
  var tree_data = [{ "id" : "1", "parent" : "#", "text" : "Doodles", "icon": "far fa-folder"},]
  $('#tree').jstree({
      'plugins': ['wholerow'],
      'core': {
          'themes': {
              'name': 'proton',
              'responsive': true
          },
          'check_callback': true,
          'multiple': false,
          'data': function(node, cb){
            cb.call(this, tree_data);
          }
      }
  });
  $('#tree').on('loaded.jstree', function() {
    $('#tree').jstree('select_node', '#1');
  });
  var current_node = null;
  $('#tree').on("changed.jstree", function (e, data) {
    node = data.selected[0]
    if (node != null) {
      var parent = $('#tree').jstree('get_parent', node);
      if (parent == '#') {
        var name = $('#tree').jstree('get_text', node);
        VideoAnnotator.jump_frame = 'null';
      } else {
        var name = $('#tree').jstree('get_text', parent);
        var re = /Frame: (\d+)/;
        var frame_string = $('#tree').jstree('get_text', node);
        var frame = parseInt(frame_string.match(re)[1]);
        VideoAnnotator.jump_frame = frame;
      }
      VideoAnnotator.set_current_name(name);
      current_node = node;
    };
  });
  function add_name(name) {
    id = $('#tree').jstree('create_node', '#', {'id': name, 'text': name, 'icon': 'far fa-folder'}, 'last', false, false);
    $('#tree').jstree('deselect_all', true)
    $('#tree').jstree('select_node', id)

  };
  function markings_modified(fabric_json) {
    $.post($SCRIPT_ROOT + '/markings_modified', {
      fabric_json: fabric_json,
    }, function(data) {
      tree_data = data;
      $('#tree').jstree(true).refresh(true);
      $('#tree').jstree('select_node', current_node);
      VideoAnnotator.save('{{ url_for('videos.save_fabric_json', video_id=video.id) }}');
      });
  };
  //markings_modified(JSON.stringify(VideoAnnotator.overlay.fabricCanvas()));
</script>
   {% endblock %}

{% block footer %}
<!-- remove footer -->
{%- endblock footer %}
